#info div{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#heading div{
 border-left: 2px solid black;
 border-bottom: 2px solid black;
}
#links div{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}